.image{
  width: 100%;
}

.descriptionBlock{
  padding: 10px;
}

.avatar{
  max-width: 30%;
}

.avatarWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts{
  &__title{
    margin: 0;
  }
}

.contact{
  padding-left: 10px;
}